@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    border: 0px;
    background-image:url(../img/bkg-concert.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1e1a55;
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

/* ---- Instruments and Puzzle Board ---- */

#resetBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: #171717;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;

  }
  

#instructions {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

#icons {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.instruments {
    width: 800px;
    /* height: 400px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 1rem;
    background-color: rgba(32, 32, 32, 0.7);
}
.instruments img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.drop-area {
    height: 300px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #17171765;
    background-repeat: no-repeat;
    color: inherit;
    margin-left: 20px;
    margin-right: 20px;
}


.bottom-icons-container {
  justify-content: center;
}

.instruments-icon {
    width: 38%;
    cursor: pointer;
    margin: 4px;
}

.drop-zone {
    width: 33%;
    height: 49.5%;
    border: thin dashed rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-zone img {
    width: 80% !important;
}

.pulsating {
    animation: pulsate 1s ease-in-out infinite;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

/* ---- Header ---- */

header {
    position: relative;
    top: 20px;
    width: 600px;
    padding-bottom: 30px;
    text-align: center;
}

header h1 {
    font-size: 3.25em;
    letter-spacing: 3px;
    margin: 10px 0;
}

header p, footer p {
    font-size: 1.7em;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 2px;
}

h3 {
    font-weight: bold;
    letter-spacing: 1px;
}

#headLine {
    margin-bottom: 10px;
}

/* ---- Footer ---- */

footer {
    position: relative;
    top: 30px;
    width: 800px;
    margin: 0px auto;
    text-align: center;
}

footer p {
    font-weight: bold;
    margin: 0;
}

#buttonHolder {
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 0px auto;
    background-size: cover;
    background: no-repeat;
}

#buttonHolder img {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
}

#buttonHolder img:hover {
    opacity:.5;
}

